* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
}

a {
  color: #22e0db;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: Lato;
  src: url("~@/assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src: url("~@/assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-display: block;
}

.template {
  padding-inline: 2rem;
  min-height: 72vh;
}

.template header {
  display: grid;
  grid-template-columns: auto 1fr 30px;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
.template header a {
  background: #3f4452;
  padding: 0.4rem;

  border-radius: 0.3rem;
}
.template header img {
  width: 100%;
}
